*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)) , url(/bg.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    transition: all 300ms ease-in-out;
}
nav{
    background-color: #000000ab;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}
.form{
    display: flex;
    height: 50px;
    width: 350px;
    margin-right: 10px;
}
.form input{
    padding: 0px 10px;
    width: 80%;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    border-right: none;
    outline: none;
}
::placeholder{
    color: #fff;
}
.form button{
    width: 20%;
    font-size: 18px;
    background-color: #fff;
    color: #555;
    border: 2px solid #fff;
    cursor: pointer;
    outline: none;
}
.form button:hover{
    background-color: transparent;
    color: #fff;
}
nav .toggle{
    font-size: 30px;
    color: #fff;
    margin-right: 15px;
    display: none;
}

section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    max-width: 900px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #000000ab;
    display: none;
    justify-content: space-between;
}
.box img{
    width: 30%;
}
.content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.content div{
    margin-left: 5%;
    display: flex;
    gap: 10px;
}

@media (max-width: 900px) {
    .box{
        flex-direction: column;
        align-items: center;
        height: 100%;
        border-radius: 0;
        border-top: 1px dashed #fff;
    }
    .box img{
        margin-bottom: 10px;
        width: 200px;
    }
    .content{
        width: 100%;
    }
    .content div{
        justify-content: center;
    }
    .plot{
        padding-bottom: 35px;
    }
}


@media (max-width: 650px) {
    body{
        overflow-x: hidden;
    }
    nav{
        position: relative;
    }
    .form{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #000000ab;
        margin: 0;
        transition: all 400ms ease-in-out;
    }
    nav .toggle{
        display: block;
        cursor: pointer;
    }
    .show{
        right: 0px;
    }
}
.swal2-confirm{
    background-color: #000000ab;
    color: #fff;
}